@keyframes animate {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  85% {
    left: -300%;
  }
}

.animate {
  animation: 20s animate infinite;
}
